/* line 5, ../../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 25, ../sass/screen.scss */
html, body {
  height: 100%;
  scroll-behavior: smooth;
}

/* line 31, ../sass/screen.scss */
header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  z-index: 3000;
  background: rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

/* line 42, ../sass/screen.scss */
#test {
  transition: 0.2s;
}

/* line 46, ../sass/screen.scss */
.hide {
  background: transparent;
  border-bottom: 1px solid transparent;
  transition: 0.2s;
}

/* line 52, ../sass/screen.scss */
nav {
  position: absolute;
  width: 80%;
  height: 100%;
  left: 10%;
}

/* line 60, ../sass/screen.scss */
ul {
  float: right;
  margin-right: -10px;
}

/* line 66, ../sass/screen.scss */
li {
  display: inline-block;
  margin-left: -4px;
  margin-right: 10px;
}
/* line 72, ../sass/screen.scss */
li a {
  color: white;
  font-family: "Roboto", sans-serif;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 20px;
  transition: 0.2s;
  border-radius: 5px;
}
/* line 83, ../sass/screen.scss */
li a:hover {
  background: white;
  color: black;
}
/* line 88, ../sass/screen.scss */
li a:active {
  background: black;
  color: white;
}

/* line 95, ../sass/screen.scss */
.black {
  color: black;
}

/* line 100, ../sass/screen.scss */
section {
  position: relative;
  height: 100%;
  overflow: hidden;
}

/* line 106, ../sass/screen.scss */
h1 {
  position: absolute;
  bottom: 0.25em;
  left: 10%;
  font-family: "Raleway", sans-serif;
  font-size: 10em;
}

/* line 115, ../sass/screen.scss */
a {
  text-decoration: none;
}

/* line 119, ../sass/screen.scss */
.ruler {
  position: absolute;
  height: 100%;
  width: 1px;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1000;
  opacity: 0.5;
}

/* line 129, ../sass/screen.scss */
#center {
  left: 50%;
}

/* line 133, ../sass/screen.scss */
#left {
  left: 10%;
}

/* line 137, ../sass/screen.scss */
#right {
  right: 10%;
}

/* line 141, ../sass/screen.scss */
#center-x {
  height: 1px;
  width: 100%;
  top: 50%;
}

/* line 147, ../sass/screen.scss */
#video {
  background-color: #00CC99;
  color: #009570;
}
/* line 151, ../sass/screen.scss */
#video #bgvid {
  position: absolute;
  top: -40%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 100;
}

/* line 163, ../sass/screen.scss */
#vimeo {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
}

/*
#vimeo {
	position: absolute;
	top: -40%;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: 100;
}
*/
/*
#vimeo {
	position: absolute;
	top: -28.125vw;
	width: 100vw;
	height: 56.25vw;
	min-height: 100vh;
	min-width: 177.77vh;
	z-index: 100;
}
*/
/* line 198, ../sass/screen.scss */
.button {
  position: absolute;
  top: 50%;
  margin-top: -30px;
  left: 50%;
  margin-left: -90px;
  height: 60px;
  width: 180px;
  border: 2px solid #fff;
  background-color: transparent;
  border-radius: 12px;
  z-index: 200;
  padding: none;
  margin: none;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  text-align: center;
  line-height: 60px;
  transition: 0.2s;
}

/* line 221, ../sass/screen.scss */
.button:link {
  text-decoration: none;
}

/* line 225, ../sass/screen.scss */
.button:hover {
  background-color: #00CC99;
  border-color: #00CC99;
  transition: 0.2s;
}

/* line 232, ../sass/screen.scss */
#bar {
  position: absolute;
  width: 100%;
  height: 50px;
  bottom: 0;
  background: white;
  z-index: 2000;
}

/* line 242, ../sass/screen.scss */
#package {
  background-color: #FFEE88;
  color: #D1C370;
}

/* line 247, ../sass/screen.scss */
#resolution {
  background-color: white;
  color: #CFCFCF;
}

/* line 252, ../sass/screen.scss */
#res-img {
  position: absolute;
  width: 35%;
  right: 10%;
  bottom: 50%;
  transform: translate(0%, 50%);
  transition: 0.6s;
  opacity: 1;
}

/* line 262, ../sass/screen.scss */
#stills {
  background-color: #6A7FDB;
  color: #5768B4;
}

/* line 267, ../sass/screen.scss */
#edit {
  background-color: #69D1C5;
  color: #4D9990;
}

/* line 272, ../sass/screen.scss */
#webpage {
  background-color: #FF6B6B;
  color: #BA4E4E;
}

/* line 277, ../sass/screen.scss */
#book {
  background-color: #8DE4FF;
  color: #67A6BA;
}

/* line 282, ../sass/screen.scss */
.white_non:hover {
  background: transparent;
  box-shadow: inset 0 0 0 2px white;
  color: white;
}

/* line 288, ../sass/screen.scss */
.white_non:active {
  background: white;
  color: black;
}

/* line 293, ../sass/screen.scss */
.white_active {
  background: white;
  color: black;
}

/* line 298, ../sass/screen.scss */
.white_active:hover {
  background: white;
  color: black;
}

/* line 303, ../sass/screen.scss */
.black_non:hover {
  background-color: transparent;
  color: black;
  box-shadow: inset 0 0 0 2px black;
}

/* line 309, ../sass/screen.scss */
.black_active {
  background: black;
  color: white;
}

/* line 314, ../sass/screen.scss */
.black_active:hover {
  background: black;
  color: white;
}

/* line 319, ../sass/screen.scss */
.win {
  background: black;
  color: white;
}

/* line 324, ../sass/screen.scss */
.win:hover {
  background: black;
  color: white;
}

/* line 329, ../sass/screen.scss */
.heart {
  fill: white;
  width: 40px;
  height: 10px;
  transition: 0.2s;
}

/* line 336, ../sass/screen.scss */
.heart:active {
  fill: black;
}

/* line 340, ../sass/screen.scss */
#logo {
  height: 40px;
  margin-top: 5px;
  transition: 0.2s;
}

/* line 346, ../sass/screen.scss */
#logo:hover {
  height: 44px;
  margin-top: 3px;
  margin-left: -1px;
}

/* line 352, ../sass/screen.scss */
#real_logo {
  height: 40px;
  margin-top: 5px;
  transition: 0.2s;
}

/* line 358, ../sass/screen.scss */
#real_logo:hover {
  height: 44px;
  margin-top: 3px;
  margin-left: -1px;
  transition: 0.2s;
}

/* line 367, ../sass/screen.scss */
#real_logo:active .cls-2 {
  fill: white;
}

/* line 372, ../sass/screen.scss */
.cls-1 {
  fill: none;
}

/* line 375, ../sass/screen.scss */
.cls-2 {
  fill: white;
}

/* line 379, ../sass/screen.scss */
.murder {
  fill: black;
  transition: 0.2s;
}

/* line 384, ../sass/screen.scss */
.black_active:hover {
  background: black;
}

/* line 388, ../sass/screen.scss */
.gap {
  background: black;
  color: white;
}

/* line 393, ../sass/screen.scss */
.arrow {
  fill: black;
}

/* line 397, ../sass/screen.scss */
#liney {
  position: absolute;
  left: 50%;
  margin-top: 15px;
  height: 20px;
  margin-left: -18px;
}
