/* line 5, ../../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 24, ../sass/screen.scss */
html, body {
  height: 100%;
}

/* line 28, ../sass/screen.scss */
nav {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3000;
}

/* line 35, ../sass/screen.scss */
ul {
  list-style: none;
}

/* line 39, ../sass/screen.scss */
li {
  display: inline;
}

/* line 43, ../sass/screen.scss */
section {
  position: relative;
  height: 100%;
  overflow: hidden;
}

/* line 49, ../sass/screen.scss */
h1 {
  position: absolute;
  bottom: 0.25em;
  left: 0.25em;
  font-family: "Raleway", sans-serif;
  font-size: 10em;
}

/* line 57, ../sass/screen.scss */
.ruler {
  position: absolute;
  height: 100%;
  width: 1px;
  background-color: white;
  z-index: 1000;
  opacity: 0.5;
}

/* line 67, ../sass/screen.scss */
#center {
  left: 50%;
}

/* line 71, ../sass/screen.scss */
#left {
  left: 10%;
}

/* line 75, ../sass/screen.scss */
#right {
  right: 10%;
}

/* line 79, ../sass/screen.scss */
#center-x {
  height: 1px;
  width: 100%;
  top: 50%;
}

/* line 86, ../sass/screen.scss */
#video {
  background-color: #00CC99;
  color: #009570;
}
/* line 90, ../sass/screen.scss */
#video #bgvid {
  position: absolute;
  top: -40%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 100;
}

/* line 103, ../sass/screen.scss */
.button {
  position: absolute;
  top: 50%;
  margin-top: -30px;
  left: 50%;
  margin-left: -90px;
  height: 60px;
  width: 180px;
  border: 2px solid #fff;
  background-color: transparent;
  border-radius: 12px;
  z-index: 200;
  padding: none;
  margin: none;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  text-align: center;
  align: middle;
  line-height: 60px;
  transition: 0.2s;
}

/* line 127, ../sass/screen.scss */
.button:link {
  text-decoration: none;
}

/* line 131, ../sass/screen.scss */
.button:hover {
  background-color: #FF6B6B;
  border-color: #FF6B6B;
  transition: 0.2s;
}

/* line 139, ../sass/screen.scss */
#package {
  background-color: #FFEE88;
  color: #D1C370;
}

/* line 144, ../sass/screen.scss */
#resolution {
  background-color: #EE92C2;
  color: #C3789F;
}

/* line 149, ../sass/screen.scss */
#stills {
  background-color: #6A7FDB;
  color: #5768B4;
}

/* line 154, ../sass/screen.scss */
#edit {
  background-color: #69D1C5;
  color: #4D9990;
}

/* line 159, ../sass/screen.scss */
#webpage {
  background-color: #FF6B6B;
  color: #BA4E4E;
}

/* line 164, ../sass/screen.scss */
#book {
  background-color: #8DE4FF;
  color: #67A6BA;
}
