// Imports
@import "compass/reset";

// Colors
$green: #00CC99;
$dark-green: #009570;
$yellow: #FFEE88;
$dark-yellow: #D1C370;
$pink: #EE92C2;
$dark-pink: #C3789F;
$purple: #6A7FDB;
$dark-purple: #5768B4;
$teal: #69D1C5;
$dark-teal: #4D9990;
$red: #FF6B6B;
$dark-red: #BA4E4E;
$blue: #8DE4FF;
$dark-blue: #67A6BA;

// Fonts
$lato: 'Lato', sans-serif;
$raleway: 'Raleway', sans-serif;

html, body {
	height: 100%;
}

ul {
	list-style: none;
}

section {
	position: relative;
	height: 100%;
	overflow: hidden;
}

h1 {
	position: absolute;
	bottom: 0.25em;
	left: 0.25em;
	font-family: $raleway;
	font-size: 10em;
}

.ruler {
	position: absolute;
	height: 100%;
	width: 1px;
	background-color: white;
	z-index: 1000;
	opacity: 0.5;
	display: none;
}

#center {
	left: 50%;
}

#left {
	left: 10%;
}

#right {
	right: 10%;
}

#center-x {
	height: 1px;
	width: 100%;
	top: 50%;
}


#video {
	background-color: $green;
	color: $dark-green;

	#bgvid {
		position: absolute;
		top: -40%;
		width: 100%;
		height: 100%;
		// object-fit does not work on IE.
    	object-fit: cover;
    	// display: none;
    	z-index: 100;
	}
}

			
button {
	position: absolute;
	top: 50%;
	margin-top: -30px;
	left: 50%;
	margin-left: -90px;
	height: 60px;
	width: 180px;
	background-color: red;
	border-radius: 12px;
	border: none;
	z-index: 200;
	padding: none;
	margin: none;
}


#package {
	background-color: $yellow;
	color: $dark-yellow;
}

#resolution {
	background-color: $pink;
	color: $dark-pink;
}

#stills {
	background-color: $purple;
	color: $dark-purple;
}

#edit {
	background-color: $teal;
	color: $dark-teal;
}

#website {
	background-color: $red;
	color: $dark-red;
}

#contact {
	background-color: $blue; 
	color: $dark-blue;
}