/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

$green: #00CC99;
$yellow: #FFEE88;
$pink: #EE92C2;
$purple: #6A7FDB;
$red: #FF6B6B;
$teal: #69D1C5;
$red: #FF6B6B;
$blue: #57E2E5;

html, body {
	height: 100%;
}

ul {
	list-style: none;
}

section {
	position: relative;
	height: 100%;
}

#video {
	background-color: $green;
}

#package {
	background-color: $yellow;
}

#uhd {
	background-color: $pink;
}

#stills {
	background-color: $purple;
}

#edit {
	background-color: $teal;
}

#website {
	background-color: $red;
}

#contact {
	background-color: $blue; 
}